{% extends "master.html" %}
{% block lista %}    

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-list" style="font-size:24px"></i>
 CLIENTES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-list" style="font-size:24px"></i> CUENTAS</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="transaccion-tab" data-toggle="tab" href="#transaccion" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-list" style="font-size:24px"></i> TRANSACCIONES</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

<!--==============================================CLIENTES============================================-->

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

<table class="table table-striped" >
 <thead ><h2 style="font-family: 'Abril Fatface', cursive; " align="center">LISTA DE CLIENTES</h2>
  <tr class="table-success">
    <td scope="col"> Cédula</td>
    <td scope="col"> Nombres</td>
    <td scope="col"> Correo</td>
    <td scope="col"> Modificar </td>
    <td scope="col"> Cuenta</td>
    <td scope="col"> Eliminar </td>
  </tr>
 </thead>
 <tbody >
   {% for c in lista %}
  <tr style="font-family: 'Spicy Rice', bold; ">
    <td scope="row">{{c.cedula}}</td>
    <td>{{c.nombres}} {{c.apellidos}}</td>
    <td>{{c.correo}}</td>
    <td><a href="modificar?cedula={{c.cedula}}" class="btn btn-danger" style="background-color: #5d5e5f  ; border-color: black">Modificar</a></td>
    <td><a  href="crearCuenta?cedula={{c.cedula}}" class="btn btn-danger" style="background-color:  #0a476e ; border-color: black">&nbsp  Nueva &nbsp</a></td>
    <td><a  href="eliminar?cedula={{c.cedula}}" class="btn btn-danger" style="background-color: #e31717 ; border-color: black">Eliminar</a></td>
  </tr>
  {% endfor%}
 </tbody>

</table>
</div>
 <!--==============================================CUENTAS============================================-->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<table class="table table-striped">
 <thead ><h2 style="font-family: 'Abril Fatface', cursive;" align="center">LISTA DE CUENTAS</h2>
  <tr class="table-success">
    <td scope="col"> Número</td>
    <td scope="col"> Saldo</td>
    <td scope="col"> Tipo de Cuenta</td>
    <td scope="col"> Cliente</td>
    <td scope="col"> Dar de baja</td>
</tr>
 </thead>

 <tbody>
   {% for g in listaC %}
  <tr >
    <td>{{g.numero}}</td>
    <td>{{g.saldo}}</td>
    <td>{{g.tipoCuenta}}</td>
    <td>{{g.cliente}}</td>

    <td><a href="baja?numero={{g.numero}}" class="btn btn-danger" style="background-color: #e31717 ; border-color: black">Baja</a></td>
  </tr>
  {% endfor%}
 </tbody>
</table>
  </div>

<!--==============================================TRANSACCIONES REALIZADAS================================-->

<div class="tab-pane fade" id="transaccion" role="tabpanel" aria-labelledby="transaccion-tab">
<table class="table table-striped" >
 <thead ><h2 style="font-family: 'Abril Fatface', cursive;" align="center">LISTA DE TRANSACCIONES</h2>
    <br>
  <tr class="table-success">
    <td scope="col"> Número de Cuenta</td>
    <td scope="col"> Fecha</td>
    <td scope="col"> Tipo de Transacción</td>
    <td scope="col"> Valor de la Transacción</td>
    <td scope="col"> Responsable Transacción</td>
  </tr>

 </thead>
 <tbody>
   {% for lst in listaTransaccion %}
      <tr >
        <td scope="row">{{lst.numero}}</td>
        <td>{{lst.transaccion__fecha}}</td>
        <td>{{lst.transaccion__tipo}}</td>
        <td>{{lst.transaccion__valor}}</td>
        <td>{{lst.transaccion__responsable}}</td>
        </tr>
  {% endfor%}
 </tbody>
</table>
</div>
</div>
{% endblock %}